NODE_ENV=
PORT=
API_PREFIX=
SWAGGER_ENABLED=
SWAGGER_PATH=

ADMIN_ROOT_PATH=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_COOKIE_SECRET=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_LOGGING=
DB_POOL_SIZE=
